.git
.gitignore
.venv
venv
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

frontend/
docker-ai-base/
data/cache/
data/raw/
data/vectorstore/
data/clean/filings_parsed.parquet

*.pyc
*.pyo
*.pid
*.sock
*.ctl
